<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SI KETOS</title>
  <link rel="stylesheet" href="/css/style.css?x=1">
  <link rel="stylesheet" href="/css/notify.css?x=1">
  <script src="/js/jquery.js"></script>
  <script src="/js/notify.js"></script>
  <script src="/js/customize.js?x=1"></script>
</head>

<style>
  html {
    scrollbar-width: none;
  }

  html::-webkit-scrollbar {
    display: none;
  }
</style>

<body class="flex flex-col h-screen m-0 p-0 bg-slate-50">